---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Education from "../../components/blocks/Education.astro";

const educationList = await getCollection("education");
const certificationList = await getCollection("certifications");
const sortedEducation = educationList.sort((a, b) => (a.data.order || 0) - (b.data.order || 0));
const sortedCertifications = certificationList.sort((a, b) => (a.data.order || 0) - (b.data.order || 0));
---

<BaseLayout title="Ausbildung" description="Ausbildung von Dr. Helmut Krassnigg">
    <div class="max-w-6xl mx-auto px-6 md:px-14 lg:px-20 pb-10 md:pb-12">
        <Education degrees={sortedEducation} certifications={sortedCertifications} />
    </div>
</BaseLayout>
